@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.nav-link {
  @apply font-medium text-gray-700 dark:text-gray-300 hover:text-primary dark:hover:text-primaryDark transition-colors duration-300;
}
